.profile-page-container {
  padding-top: 30px;
  display: grid;
  grid-template-areas:
    "title edit"
    "card card";
  grid-template-columns: 1fr 200px;
  gap: 10px;
}

.profile-page-heading {
  grid-area: title;
}

.profile-page-edit {
  grid-area: edit;
}

.profile-page-card {
  grid-area: card;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 20px;
  padding: 30px;
  border-radius: 30px;
  box-shadow:
    -5px -5px 15px rgba(0, 0, 0, 0.1),
    5px 5px 20px rgba(0, 0, 0, 0.2);
}

.profile-page-left {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;
  width: 240px;
}

.profile-page-picture-edit-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  padding: 0px;
}

.profile-page-right {
  width: 300px;
  position: relative;
  border-left: 1px solid lightgray;
  padding-left: 30px;
  ;
}

.profile-page-card button {
  background-color: white;
  border: 0px solid white;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid lightgray;
}

.profile-page-card button:disabled {
  background-color: lightgray;
  color: darkgray;
}

.profile-page-edit-button {
  position: absolute;
  top: 16px;
  right: -25px;
}