/* TODO Add site wide styles */

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.625;
  color: #202013;
  font-family: Roboto, sans-serif;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

/* hover effects */

.hover-shadow {
  transition: box-shadow 0.2s ease-in-out;
}

.hover-shadow:hover {
  box-shadow:
    -5px -5px 15px rgba(0, 0, 0, 0.2),
    5px 5px 20px rgba(0, 0, 0, 0.3);
}

/* page width */

.page-container-narrow {
  max-width: 600px;
  margin: auto;
}

.page-container-wide {
  max-width: 1200px;
  margin: auto;
}

/* user icon */

.user-icon-container-large {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
}

.user-icon-container-small {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
}

.user-icon-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* song thumbnail */

.song-thumbnail-container-tile {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 20%;
  box-sizing: border-box;
  overflow: hidden;
}

.song-thumbnail-container-large {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 20%;
  overflow: hidden;
}

.song-thumbnail-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}