.audio-player-container {
  width: 100%;
  box-sizing: border-box;
  height: 140px;
  box-shadow:
    -1px -1px 20px rgba(0, 0, 0, 0.2) inset,
    1px 1px 20px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid darkgray;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 250px 1fr 200px;
  padding: 10px;
  margin: 0px 0px 70px 0px;
}

.audio-player-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.audio-player-buttons button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid lightgray;
}

.audio-player-buttons button[value="true"] {
  border-color: darkgray;
  background-color: darkgray;
  color: white;
}

.audio-player-play-pause,
.audio-player-stop,
.audio-player-loop,
.audio-player-mute,
.audio-player-progress,
.audio-player-volume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.audio-player-progress input {
  width: 90%;
  box-sizing: border-box;
}

.audio-player-volume input {
  width: 90%;
  box-sizing: border-box;
}

.audio-player-progress-info,
.audio-player-progress-info,
.audio-player-volume-info {
  width: 90%;
  box-sizing: border-box;

}

.audio-player-progress-info p,
.audio-player-volume p,
.audio-player-volume p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}