.song-content-banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
  border-bottom: 1px solid lightgray;
}

.song-content-banner {
  display: grid;
  grid-template-areas:
    "title title edit"
    "thumb meta meta"
    "control control control"
    "other comment comment";
  grid-template-columns: 360px 1fr 180px;
  grid-template-rows: 80px 420px 100px 1fr;
  gap: 0px;
  width: 960px;
}

/* title */

.song-content-banner-title {
  grid-area: title;
}

.song-content-banner-title h1 {
  margin: 0px;
  padding: 0px;
}

/* edit */

.song-content-banner-edit-button {
  grid-area: edit;
  width: 100%;
}

/* thumbnail */

.song-content-banner-thumbnail {
  grid-area: thumb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  padding-right: 50px;
}

.song-content-banner-thumbnail-edit-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.song-content-banner-thumbnail button,
.song-content-banner-meta button,
.song-content-banner-lyrics button,
.song-content-edit-audio button,
.song-content-edit-delete button {
  background-color: white;
  border: 0px solid white;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid lightgray
}

/* metadata */

.song-content-banner-edit-meta-button {
  position: absolute;
  top: 18px;
  right: 0px;
}


.song-content-banner-meta {
  grid-area: meta;
  position: relative;
  padding-left: 40px;
}

/* control panel*/

.control-panels {
  grid-area: control;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

/* other */


.song-content-banner-other {
  grid-area: other;
  border-right: 1px solid lightgray;
  padding-left: 20px;

}

.song-content-edit-audio {
  border-top: 1px solid lightgray;
}

/* lyrics */

.song-content-banner-lyrics {
  grid-area: lyrics;
  min-height: 300px;
  position: relative;
}

.song-content-banner-edit-lyrics-button {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* comment */

.song-content-banner-comments {
  grid-area: comment;
  padding-left: 40px;
  padding-right: 20px;
}

.song-content-banner-comments form {
  display: flex;
  flex-direction: column;
}

.song-content-banner-comments textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border-radius: 20px;
  border: 1px solid lightgray;
  margin: 10px 0px;
  resize: vertical;
}

.post-comment-counter-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-comment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.post-comment-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff5a60;
  border: 0px solid #ff5a60;
  color: white;
  border-radius: 30px;
}

.post-comment-buttons button:disabled {
  color: #9d9d9d;
  background-color: lightgray;
}